<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lgh.huanglib" >
    <application>
        <!--${applicationId} 不能用固定的包名  不然多渠道到打包会报错-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.android7.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
