<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yizhitong.userclient">
    <!-- 8867c8490cf0765131891d361b65e8b1 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 可选 -->
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- 获取logcat日志 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".utils.config.MyApp"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/activity_theme">
        <activity android:name=".ui.login.BingPhoneActivity"></activity>
        <activity android:name=".ui.mine.InterrogationAgreementActivity" />
        <activity android:name=".ui.home.OrderPaySuccessfulActivity" />
        <activity android:name=".ui.home.DoctorDetailActivity" />
        <activity android:name=".ui.home.FindDoctorActivity" />
        <activity android:name=".ui.home.RapidInterrogationPayActivity" />
        <activity android:name=".ui.home.RapidInterrogationActivity" />
        <activity android:name=".ui.home.DepartFindDoctorActivity" />
        <activity android:name=".ui.home.NewsDetailActivity" />
        <activity android:name=".ui.physicianvisits.InquiryInfoActivity" />
        <activity android:name=".ui.physicianvisits.InquiryInfoEvaluateActivity" />
        <activity android:name=".ui.physicianvisits.InquiryInfoPayActivity" />
        <activity android:name=".ui.mine.PrescriptionInfoPayActivity" />
        <activity android:name=".ui.mine.PrescriptionInfoActivity" />
        <activity android:name=".ui.mine.MyPrescriptionActivity" />
        <activity android:name=".ui.mine.MedicalRecordsActivity" />
        <activity android:name=".ui.mine.AddPatientActivity" />
        <activity android:name=".ui.mine.HealthRecordsActivity" />
        <activity android:name=".ui.mine.ConcernedDoctorActivity" />
        <activity android:name=".ui.mine.AddAddressActivity" />
        <activity android:name=".ui.mine.AddressManagementActivity" />
        <activity
            android:name=".ui.StartPageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" /> <!-- 登录 -->
        <activity android:name=".ui.login.LoginActivity" /> <!-- 注册 -->
        <activity android:name=".ui.login.RegisteredActivity" /> <!-- 找回密码 校验身份 -->
        <activity android:name=".ui.login.FindPwdCheckActivity" /> <!-- 找回密码 -->
        <activity android:name=".ui.login.FindPwdActivity" />
        <activity android:name=".ui.mine.UserInfoActivity" />
        <activity android:name=".ui.mine.FeedbackActivity" />
        <activity android:name=".ui.mine.DoctorCertifiedActivity" />
        <activity android:name=".ui.mine.SpecialtyActivity" />
        <activity android:name=".ui.message.MessageDetailActivity" />
        <activity android:name=".ui.mine.SettingActivity" />
        <activity android:name=".ui.home.DoctorVisitsActivity" /> <!-- 融云appkey 开发 -->
        <!-- <meta-data -->
        <!-- android:name="RONG_CLOUD_APP_KEY" -->
        <!-- android:value="c9kqb3rdc4wxj" /> -->
        <!-- 融云appkey 生产 -->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="6tnym1br6p7u7" /> <!-- 微信登录 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
    </application>

</manifest>